@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-height: 100vh;
  background-color: #000;
  font-family: 'Manrope', sans-serif;
  color: white;
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: 100px;
}
